/* .file-upload {
    display: block;
    background-color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.file-upload .file-select {
    display: block;
    border: 1px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 20px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
}

.file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
} */

.formControl {
  width: auto;
}

.paper {
  padding: 0px;
  // margin: auto;
  // max-width: 700px;
}

.thumbnailUpload {
  margin: 20px auto;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
}

.uploader {
  display: inline-block;
  margin-left: 30px;
}

.font-large {
  font-size: 20px;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  width: 180px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.submitButton {
  margin-top: 100px;
}

@media (max-width: 400px) {
  .uploader {
    margin-left: 10px;
  }
}
