// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

a,
a:visited {
  outline: none;
}

a:hover,
a:focus,
a:visited:hover {
  text-decoration: none;
}

.error_container {
  // background: #01204a;
  background: #e6eef8;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
  left: 0px;
}

.error-text {
  top: 30%;
  position: relative;
  font-size: 30px;
  color: #eee;
}

.error-text a {
  color: #eee;
}

.error-text a:hover {
  color: #fff;
}

.error-text p {
  font-size: 1.8rem;
  color: #000;
}
.errorMessage {
  color: #000;
  margin: 70px 0 0 0;
}

.errorHint {
  color: #000;
  margin: 30px 0 20px 0;
}
.error-text i {
  margin-left: 10px;
}

.homepage {
  margin: 40px 0 0 0;
}

.error-text span {
  position: relative;
  background: #f53b3b;
  color: #fff;
  font-size: 300%;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: bolder;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 0 40px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.error-text span:hover {
  background: #d7401f;
  color: #fff;
  -webkit-animation: jelly 0.5s;
  animation: jelly 0.5s;
}

.error-text span:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ef4824;
  border-width: 7px;
  margin-left: -7px;
}
.errorMessage {
  word-wrap: break-word;
}

@-webkit-keyframes jelly {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes jelly {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
/* CSS Error Page Responsive */

@media only screen and (max-width: 640px) {
  .error-text span {
    font-size: 200%;
  }
  .error-text a:hover {
    color: #000;
  }
}

.back:active {
  transform: scale(0.95);
  background: #f53b3b;
  color: #fff;
}

.back:hover {
  background: #171827;
  color: #fff;
}

.back {
  text-decoration: none;
  background: #01204a;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 3px;
  transform: scale(1);
  transition: all 0.5s ease-out;
}
